<!-- Banner Section -->
<div class="banner">
    <div class="overPic text-center text-white">
        <h1>COOKING SINCE</h1>
        <p>1975</p>
        <button routerLink="/menu">Discover Menu</button>
    </div>
</div>


<div class="container">
    <div class="row best-sellers">
        <h1 class="text-center">BEST SELLERS</h1>
    </div>
    <ul>
        <li *ngFor="let food of foods.slice(0, 3)">
            <a routerLink="/food/{{food.id}}">
                <div class="image-container">
                    <img [src]="food.imageUrl" alt="{{food.name}}">
                </div>
                <div class="content">
                    <!-- Name -->
                    <div class="name">
                        {{food.name}}
                    </div>
                    <!-- fav icon
                    <span class="favorite {{food.favorite?'':'not'}}">❤</span> -->
                    <!-- stars -->
                    <div class="stars">
                        <app-star-rating [stars]="food.stars" [size]="1.3" />
                    </div>
                    <div class="product-item-footer">
                        <div class="price">{{food.price | currency}}</div>
                        <!-- cook-time -->
                        <div class="cook-time">
                            <span>🕘</span>
                            {{food.cookTime}}
                        </div>
                    </div>

                </div>
            </a>
        </li>
    </ul>
</div>




<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 left-text text">
            <h1 class="mb-4" style="font-size: 4rem;">Welcome To Nonna's Cucina</h1>
            <p style="font-weight: 700; font-size: 1rem;">
                Where authentic Italian flavors come to life in every dish. Step into our
                cozy corner of Italy, where the aroma of freshly prepared pasta and the warmth of traditional family
                recipes will transport you to the heart of Italian cuisine. At Nonna's, we take pride in preserving the
                culinary traditions passed down through generations, ensuring that each bite is a delightful journey
                through Italy's rich and diverse culinary landscape. Whether you're a seasoned connoisseur of Italian
                cuisine or new to the flavors of the Mediterranean, our menu is a symphony of tastes and textures that
                will leave you craving for more. Buon appetito!</p>
        </div>
        <div class="col-12 col-md-6 right-pic"></div>
    </div>
</div>


<div class="container">
    <div class="row best-sellers">
        <h1 class="text-center">BOOK A TABLE</h1>
    </div>
    <div class="row form-section" style="background-color: whitesmoke;">
        <div class="col-12 col-md-5 form-pic"></div>
        <div class="col-12 col-md-7">
            <div class="container mt-4 p-4">
                <form>
                    <div class="row mb-4">
                        <div class="col-12 col-md-4">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-12 col-md-4">
                            <input type="email" class="form-control" id="email" placeholder="Your Email" required>
                        </div>
                        <div class="col-12 col-md-4">
                            <input type="tel" class="form-control" id="phone" placeholder="Your Phone" required>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 col-md-4">
                            <input type="date" class="form-control" id="date" required>
                        </div>
                        <div class="col-12 col-md-4">
                            <input type="time" class="form-control" id="time" required>
                        </div>
                        <div class="col-12 col-md-4">
                            <input type="number" class="form-control" id="numOfPeople" min="1"
                                placeholder=" # of People" required>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <textarea class="form-control" id="message" rows="4"
                                placeholder="Any special requests or additional information"></textarea>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <button type="submit">Book</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<div class="container-fluid">
    <div class="row" style="height: 13rem;">
        <div class="col-md-8" style="background-color: #2B83DC;">
            <div class="row">
                <div class="offset-md-3 col-md-3 work-time">
                    <p style="    font-size: 1.2rem;
                    font-weight: bold;">+201064026154</p>
                    <p>Treat your taste buds to a journey through Italy at Nonna's Cucina.</p>
                </div>
                <div class="col-md-3 work-time">

                    <p style="    font-size: 1.1rem;
                    font-weight: bold;">198 West 21th Street</p>
                    <p> Nonna's Cucina is your home for authentic Italian cuisine.</p>

                </div>
                <div class="col-md-3 work-time">
                    <p style="    font-size: 1.2rem;
                    font-weight: bold;">Open Monday-Friday</p>
                    <p>8:00am - 9:00pm </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color: var(--red);"></div>
    </div>
</div>