<nav class="navbar navbar-expand-lg sticky-top">
    <div class=" container ">
        <!-- store name -->

        <a class="navbar-brand storeName mx-4" routerLink="/">Nonna's Cucina</a>
        <!-- store logo -->

        <!-- <img src="../../../assets/img/Logo.png" class="mx-4" style="width: 150px; height:60px; cursor: pointer;"routerLink="/home"> -->

        <!-- button when minimize screen -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  " id="navbarSupportedContent">

            <ul class="navbar-nav ms-auto mx-4">

                <li class="nav-item " *ngIf="isAdmin">
                    <a routerLink="/admin">Admin</a>
                </li>

                <li class="nav-item ">
                    <a routerLink="/menu">Menu</a>
                </li>

                <li class="menu-container nav-item">
                    <a routerLink="/dashboard">Mostafa</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a style="color: var(--red);">Logout</a>
                    </div>
                </li>

                <li class="nav-item ">
                    <a routerLink="/cart">
                        Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>