<div class="container">
    <div class="details">
        <app-title title="Login"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-container">
                <label>Email</label>
                <div>
                    <input type="email" placeholder="Email" formControlName="email">
                </div>
                <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                    <div *ngIf="fc.email.errors.required">should not be empty</div>
                    <div *ngIf="fc.email.errors.email">email is not correct</div>
                </div>

                <label>Password</label>
                <div>
                    <input type="password" placeholder="Password" formControlName="password">
                </div>
                <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                    <div *ngIf="fc.password.errors.required">should not be empty</div>
                </div>
            </div>

            <button class="myButton" type="submit">Login</button>
            
            <div class="register">
                New user? &nbsp;
                <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
                    Register here
                </a>
            </div>
        </form>
    </div>
</div>