.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

.details {
    width: 40rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}