div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 50%;

}

div a {
    background-color: #f0f0f0;
    color: var(--red);
    margin: 0.2rem 0.15rem;
    padding: 0.3rem 1rem;
    border-radius: 5rem;
}